body {
	background-color: gray;
}

div {
	margin-left: 40%;
	margin-right: 40%;
}

table {
	width: 100%;
	text-align: center;
	background-color: white;
}

.buttons {
	float: right;
	width: 90px;
}

#mensagemServidor {
	visibility: hidden;
	border: solid;
}
