.Page {
	text-align: center;
}

.Header {
	margin-top: -20px;
	background-image: linear-gradient(to right, lightblue, cyan, lightblue);
}

.Content {
	margin: 20px;
	display: inline-block;
}

.Diagrama {
	margin-bottom: 100px;
}

.Footer {
	position: fixed;
	left: 50%;
	width: 100%;
	bottom: -20px;
	transform: translate(-50%, -50%);
	background-image: linear-gradient(to right, lightblue, cyan, lightblue);
	font-size: 12.5px;
}
